*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve centering within parent */
  min-height: 100vh;
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 1.125rem;
  color: hsl(210, 10%, 33%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms;
    animation-iteration-count: 1;
    transition-duration: 0.01ms;
    scroll-behavior: auto;
  }
}
.footer-section {
  background-color: hsl(201, 11%, 66%);
  color: hsl(210, 10%, 33%);
  font-weight: 600;
  width: 100%;
  bottom: 0;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 2rem;
}

.social-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.margin-below {
  margin-bottom: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding: 2rem;
}

.ios-button {
  width: 15rem;
  height: 2.5rem;
  border-radius: 5rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 0.88rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
  background-color: hsl(171, 66%, 44%);
  border-bottom: 0.25rem solid hsl(171, 68%, 29%);
}

.mac-button {
  width: 15rem;
  height: 2.5rem;
  border-radius: 5rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 0.88rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
  background-color: hsl(233, 100%, 69%);
  border-bottom: 0.25rem solid hsl(233, 43%, 43%);
}

.logo-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5rem;
  margin-top: 5rem;
  gap: 3rem;
}

.clipboard-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.clipboard-section p {
  font-size: 0.885rem;
  text-align: center;
  color: hsl(201, 11%, 66%);
  font-weight: 400;
}
.clipboard-section h2 {
  text-align: center;
}

.benefits-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  margin-top: 5rem;
}
.benefits-section div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.benefits-section p {
  font-size: 0.885rem;
  text-align: center;
  color: hsl(201, 11%, 66%);
  font-weight: 400;
  padding-bottom: 2rem;
}
.benefits-section img {
  padding-bottom: 1.5rem;
}
.benefits-section h3 {
  padding-bottom: 1rem;
}
.benefits-section h2 {
  text-align: center;
}

.clipboard-access-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-top: 5rem;
}
.clipboard-access-section p {
  font-size: 0.885rem;
  text-align: center;
  color: hsl(201, 11%, 66%);
  font-weight: 400;
  padding-bottom: 2rem;
}
.clipboard-access-section h2 {
  text-align: center;
}

.tracking-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-top: 6rem;
}
.tracking-section p {
  font-size: 0.885rem;
  text-align: center;
  color: hsl(201, 11%, 66%);
  font-weight: 400;
  padding-bottom: 2rem;
}
.tracking-section div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.tracking-section img {
  padding-bottom: 2rem;
}
.tracking-section h2 {
  text-align: center;
}

.header-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.header-section p {
  font-size: 0.885rem;
  text-align: center;
  color: hsl(201, 11%, 66%);
  font-weight: 400;
  padding-bottom: 2rem;
}
.header-section h1 {
  line-height: 100%;
  text-align: center;
}

.desktop-header-image {
  display: none;
}

.mobile-header-image {
  display: block;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
}

@media (min-width: 50rem) {
  body {
    background-color: red;
  }
  .desktop-header-image {
    display: block;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
  }
  .mobile-header-image {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */